<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1>URL Shortener</h1>
        </div>
      </div>
      <form action="/create" method="POST">
        <div class="row">
          <div class="col-lg-12">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Paste your Long URL"
                aria-label="Paste your Long URL"
                aria-describedby="button-addon2"
                name="longUrl"
              />
              <div class="input-group-append">
               <input type="submit" value="Submit" class="btn btn-outline-secondary">
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="row">
          <% for(var i=0;i< allUrlData.length;i++){ %>
        <div class="col-lg-3">
          <div class="card border-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Total Clicks <%= allUrlData[i].clickCount %></div>
            <div class="card-body text-dark">
              <h6 class="card-title">
               <a href="http://localhost:3000/<%= allUrlData[i].shortUrl %>" target="_blank">http://localhost:3000/<%= allUrlData[i].shortUrl %></a>
              </h6>
              <p class="card-text">
               <%= allUrlData[i].longUrl %>
              </p>
              <a href="/delete/<%= allUrlData[i].id %>" class="btn btn-sm btn-danger">Remove</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>